body {
	background: #ccc;
	margin: 0;
	padding: 0;
	font-family: Georgia;
	font-size: 0.8em;
}

#wrapper {
	width: 800px;
	padding: 0;
	margin: 0 auto;
	background: white;
	padding-left: 30px;
	padding-right: 30px;
	
	padding-bottom: 10px;
}

#page_title {
	text-align: center;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

label {
	font-weight: bold;
}

.clear {
	clear: both;
}

h2 {
	color: #2764A1;
}

a#back {
	display: block;
	padding-top: 20px;
	text-decoration: none;
	font-size: 16px;
}

a {
	text-decoration: none;
}

a:link, a#back:link, a:visited, a#back:visited {
	color: #0C75ED;
}

a:hover, a#back:hover {
	color: #0C55A8;
	text-decoration: underline;
}

#footer {
	margin-top: 50px;
	color: #999;
	text-align: center;
	font-size: 12px;
}